<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
		<string>com.apple.platform.macosx</string>
		<string>com.apple.platform.appletvos</string>
		<string>com.apple.platform.watchos</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>MyFeature</string>
	<key>Description</key>
	<string>A Composable Architecture feature</string>
	<key>Summary</key>
	<string>A Composable Architecture feature</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.swift</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Template Author</key>
	<string>Christian Elies @ 2023</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Name of the feature you want to implement</string>
			<key>Default</key>
			<string></string>
			<key>Identifier</key>
			<string>MODULENAME</string>
			<key>Name</key>
			<string>Feature name:</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_MODULENAME___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Indicates if a bindable setup should be added to your feature</string>
			<key>Default</key>
			<string>false</string>
			<key>Identifier</key>
			<string>UseBindings</string>
			<key>Name</key>
			<string>Setup Bindable</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>checkbox</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Indicates if macros, like the Reducer one, should be used on your feature</string>
			<key>Default</key>
			<string>false</string>
			<key>Identifier</key>
			<string>UseMacros</string>
			<key>Name</key>
			<string>Add Macros also when using the WithViewStore observation</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>RequiredOptions</key>
			<dict>
				<key>ObservationType</key>
				<array>
					<string>WithViewStore</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Description</key>
			<string>Specifies the type of observation which should be added</string>
			<key>Default</key>
			<string>WithViewStore</string>
			<key>Identifier</key>
			<string>ObservationType</string>
			<key>Name</key>
			<string>Observation type:</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>popup</string>
			<key>Values</key>
			<array>
			<string>WithViewStore</string>
			<string>Perception</string>
			<string>Observation</string>
			</array>
		</dict>
		<dict>
			<key>Description</key>
			<string>Indicates if a dependency client should be created for your feature</string>
			<key>Default</key>
			<string>false</string>
			<key>Identifier</key>
			<string>CreateDependencyClient</string>
			<key>Name</key>
			<string>Also create a dependency client</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>checkbox</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Indicates if a destination feature should be added to your feature</string>
			<key>Default</key>
			<string>false</string>
			<key>Identifier</key>
			<string>CreateDestinationFeature</string>
			<key>Name</key>
			<string>Also create a destination feature</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>checkbox</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Indicates if header comments should be added to the generated files</string>
			<key>Default</key>
			<string>false</string>
			<key>Identifier</key>
			<string>FileHeaderComments</string>
			<key>Name</key>
			<string>Add file header comments</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>checkbox</string>
		</dict>
	</array>
</dict>
</plist>
