<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>SwiftTCAComponents</string>
	<key>Description</key>
	<string>TheComposableArchitecture Components</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.swift</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Template Author</key>
	<string>Christian Elies @ 2023</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Name of feature you want to implement</string>
			<key>Default</key>
			<string></string>
			<key>Identifier</key>
			<string>MODULENAME</string>
			<key>Name</key>
			<string>Feature name:</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_MODULENAME___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Use Bindings</string>
			<key>Default</key>
			<string>false</string>
			<key>Identifier</key>
			<string>UseBindings</string>
			<key>Name</key>
			<string>Use Bindings</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>checkbox</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Use Macros</string>
			<key>Default</key>
			<string>false</string>
			<key>Identifier</key>
			<string>UseMacros</string>
			<key>Name</key>
			<string>Use Macros</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>checkbox</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Observation type</string>
			<key>Default</key>
			<string>None</string>
			<key>Identifier</key>
			<string>ObservationType</string>
			<key>Name</key>
			<string>Observation type</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>popup</string>
			<key>Values</key>
			<array>
			<string>None</string>
			<string>iOS-16</string>
			<string>iOS-17</string>
			</array>
		</dict>
		<dict>
			<key>Description</key>
			<string>Add file header comments</string>
			<key>Default</key>
			<string>false</string>
			<key>Identifier</key>
			<string>FileHeaderComments</string>
			<key>Name</key>
			<string>Add file header comments</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>checkbox</string>
		</dict>
	</array>
</dict>
</plist>
